* {
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}


body {
  height: 100%;
  width: 100%;

}

h1,
h2,
h3,
h4,
h5,
h6,
p,
body {
  margin: 0;
  padding: 0;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
         -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
            box-sizing: border-box;
}


.header {
  height: 30px;
  width: 100%;
  background-color: #38aef0;
  font-weight: 200px;
  color: #fff;
  text-align: center;
  letter-spacing: 1px;
}
.chat-layout{
  height: 100%;
  width: 100%;
}
.chat-side{
  float: left;
  width: 300px;
  height: 100%;
  background-color: #2f3e51;
    .chat-user{
      padding: 20px ;
      height: 100px;
      width: 100%;
      line-height: 30px;
      color: #fff;
      background-color: #253141;
      &__name{
        float: left;
        line-height: 60px;
        letter-spacing: 2px;
        font-size: 16px;
        font-weight: bold;
        display: inline-block;
      }
      .chat-icons{
        height: 10px;
        width: 40px;
        float:right;
        display: inline-block;
        display: flex;
        position: relative;
        top: 16px;
        left: -20px;
        &__icon{
          float:left;
          font-size: 20px;
           display: flex;
           letter-spacing: 10px;
           .i.fas.fa-edit{
            color:#fff;
           }
           .i.fa.fa-cog{
            color:#fff;
           }
        }
      }
    }
    .chat-groups{
      padding: 20px 10px;
      .chat-group{
        height: 80px;
        width: 100%;
        color: #fff;
        padding: 20px;
        margin-bottom: 40px;
        &__title{
          font-size: 15px;
          margin-bottom: 5px;
        }
        &__messages{
          font-size: 11px;
        }
      }
    }
}
.chat-main{
    float: left;
    position: relative;
    width: calc(100% - 300px);
    height: 100%;
  .chat-header{
    padding-top: 30px;
    padding-left: 40px;
    background-color: #fff;
    .chat-header--left{
      float: left;
      &__title{
        letter-spacing: 2px;
        color: #333;
        font-size: 20px;
        font-weight: 400px;
        }
      &__users{
        line-height: 20px;
        color: #999;
        font-size: 12px;
        }
      }
    .chat-header--right{
      float: right;
      display: inline-block;
      margin: 0 40px 26px 0;
      padding-right: 20px;
      padding-left: 20px;
      line-height: 40px;
      color: #38aef0;
      font-size: 14px;
      border: 2px solid;
      }
    }
  .chat-body{
    border-top: 1px solid #eeeeee;
    position: relative;
    padding-top: 40px;
    height: calc(100% - 190px);
     padding-left: 40px;
      overflow-y: scroll;
      clear:both;
    .chat-messages{
      position: absolute;
      padding: 0;
      .chat-massage_header{
        padding-bottom: 10px;
        clear:both;
        .chat-message__name{
          font-size: 20px;
          font-weight:600px;
          float:left;
          display: inline-block;
          }
        .chat-message__time{
          font-size: 12px;
          float: left;
          margin-left: 10px;
          color: #aaa;
          font-size: 12px;
          padding-top:10px;
          }
        }
      .chat-massage__body{
        float:left;
        display: inline-block;
        clear: both;
        font-size: 14px;
        padding-bottom: 40px;
      }
      }
    }
    .chat-footer{
      height: 60px;
      width: 100%;
      padding: 10px;
      background-color: #ddd;
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      input.chat-footer__text-field {
          height: 40px;
          font-size: 16px;
          padding: 5px;
          width: calc(100% - 100px);
          float: left;
        }
        .footer-icon{
          float:left;
          margin-left:-30px;
          padding-top:10px;
        }
        button.posts__submit {
    height: 40px;
    width: 60px;
    float: left;
    margin-left: 10px;
    font-size: 16px;
    background-color: #38aef0;
    color: #fff;
    text-align:center;
  }
    }
  }
