.chat-main{
    float: left;
    height:100%;
    width: calc(100% - 300px);
    position: relative;
  .chat-header{
    box-sizing: border-box;
    height: 100px;
    padding: 0 40px;
    .chat-header--left{
      float: left;
      &__title{
        letter-spacing: 2px;
        color: #333;
        font-size: 20px;
        margin-top: 35px;
        }
      &__users{
        color: #999;
        font-size: 12px;
        margin-top: 10px;
        .member {
          display: inline-block;
          padding-right: 5px;
        }
        }
      }
    .chat-header--right{
      border: 1px solid #38aef0;
      color: #38aef0;
      float: right;
      height: 40px;
      line-height: 40px;
      margin-top: 28px;
      padding: 0 20px;
      display: inline-block;
      .edit-btn {
        color: #38aef0;
        text-decoration: none;
      }
      }
    }
  .chat-messages{
    border-top: 1px solid #eeeeee;
    // position: relative;
    padding-top: 40px;
      overflow-y: scroll;
      // clear:both;
    // background-color: #FAFAFA;
    box-sizing: border-box;
    padding: 46px 40px 0;
    height: calc(100% - 100px - 90px);
    .chat-message{
      .chat-massage_header{
        padding-bottom: 10px;
        clear:both;
        .chat-message__name{
          font-size: 20px;
          font-weight:600px;
          float:left;
          display: inline-block;
          }
        .chat-message__time{
          font-size: 12px;
          float: left;
          margin-left: 10px;
          color: #aaa;
          font-size: 12px;
          padding-top:10px;
          }
        }
      .chat-massage__body{
        float:left;
        display: inline-block;
        clear: both;
        font-size: 14px;
        padding-bottom: 40px;
      }
      }
    }
    .chat-footer{

      height: 60px;
      width: 100%;
      padding: 10px;
      background-color: #ddd;
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      .form{
        &__message{
            background: white;
            margin-left: 40px;
            height: 40px;
            width: calc(100% - 190px);
            border-color: white;
          }
          &__mask{
            &__image{
              position: absolute;
              right: 174px;
              top: 20px;
              width: 30px;
              height: 20px;
              font-size: 16px;
              margin-top: 1px;
              background: white;
            }
            .icon{
              line-height: 20px;
              position: absolute;
              left: 5px;
            }
            .hidden{
              display: none;
            }
          }
          &__submit{
            position: absolute;
            top: 11px;
            right: 40px;
            height: 39px;
            width: 76px;
            background: #38AEF0;
            border-color: #38AEF0;
            color: white;
            font-weight: bold;
          }
      }

  }
  }
